%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Span Engineering
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "http://bootstraptaste.com", :name => "author"}/
    / css
    %link{:href => "/assets/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "/assets/jquery.fancybox.css", :rel => "stylesheet"}
    %link{:href => "/assets/flexslider.css", :rel => "stylesheet"}/
    %link{:href => "/assets/style.css", :rel => "stylesheet"}/
    / Theme skin
    %link{:href => "/assets/default.css", :rel => "stylesheet"}/
    / HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    #wrapper
      / start header
      %header
        .navbar.navbar-default.navbar-static-top
          .container
            .navbar-header
              %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              %a.navbar-brand{:href => ""}
                %span> Span Engineering
            .navbar-collapse.collapse
              %ul.nav.navbar-nav
                %li.active
                  = link_to "Home", root_path
                %li
                  = link_to "Clients", clients_path
                %li
                  = link_to "Features"
                %li
                  = link_to "Blog"
                %li
                  = link_to "Contact Us",contacts_path
      / end header
      %section#featured
        / start slider
        .container
          .row
            .col-lg-12
              / Slider
              #main-slider.flexslider
                %ul.slides
                  %li
                    %img{:alt => "", :src => "/assets/1.jpg", :height => "400", :width => "1024"}
                    .flex-caption
                      %h3 Milling Machine
                      %p Milling machines are cutting tools typically used to perform milling operations.They remove material by their movement within the machine
                  %li
                    %img{:alt => "", :src => "/assets/2.jpg", :height => "400", :width => "1024"}/
                    .flex-caption
                      %h3 Lathe Machine
                      %p The lathe is a machine tool which holds the workpiece between two rigid and strong supports called centers or in a chuck or face plate which revolves.
                  %li
                    %img{:alt => "", :src => "/assets/3.jpg", :height => "400", :width => "1024"}/
                    .flex-caption
                      %h3 VMC Machine
                      %p VMC is a machining center with its spindle in a vertical orientation. High-end VMCs are high-precision machines often used for tight-tolerance milling.
                  %li
                    %img{:alt => "", :src => "/assets/4.jpg", :height => "400", :width => "1024"}/
                    .flex-caption
                      %h3 TRAUB
                      %p It is automatic lathe machine.
                  %li
                    %img{:alt => "", :src => "/assets/5.jpg", :height => "400", :width => "1024"}/
                    .flex-caption
                      %h3 Grinding Machine
                      %p Grinding Machine is a type of machining using an abrasive wheel as the cutting tool. Each grain of abrasive on the wheel's surface cuts a small chip from the workpiece via shear deformation.
              / end slider
      %section.callaction
        .container
          .row
            .col-lg-12
              .big-cta
                .cta-text
                  %h2
                    %span Why
                    We are best?
      %section#content
        .container
          .row
            .col-lg-12
              .row
                .col-lg-3
                  .box
                    .box-gray.aligncenter
                      %h4 Quality Work
                      .icon
                        %i.fa.fa-desktop.fa-3x
                      %p
                        We define quality as conformance to our Customer's needs, both internal and external; and conformance to all quality requirements.
                    .box-bottom
                      %a{:href => "#"} Learn more
                .col-lg-3
                  .box
                    .box-gray.aligncenter
                      %h4 Low Cost
                      .icon
                        %i.fa.fa-pagelines.fa-3x
                      %p
                        We manufactured the products in low cost with maintaining it's standard quality as per client requirements as compare to other manufacturers.
                    .box-bottom 
                      %a{:href => "#"} Learn more
                .col-lg-3
                  .box
                    .box-gray.aligncenter
                      %h4 Improvement
                      .icon
                        %i.fa.fa-edit.fa-3x
                      %p
                        Making continuous improvement is a part of every day and every job - through the use of team participation and measurements in a company.
                    .box-bottom
                      %a{:href => "#"} Learn more
                .col-lg-3
                  .box
                    .box-gray.aligncenter
                      %h4 Satisfaction
                      .icon
                        %i.fa.fa-pagelines.fa-3x
                      %p
                        Client satisafaction is our first priority. We got best feedback till date. We have also skilled work force to meet the highest quality of standards.
                    .box-bottom
                      %a{:href => "#"} Learn more
          / divider
          .row
            .col-lg-12
              .solidline
          / end divider
          / Portfolio Projects
          .row
            .col-lg-12
              %h4.heading Recent Works
              .row
                %section#projects
                  %ul#thumbs.portfolio
                    / Item Project and Filter Name
                    %li.col-lg-3.design{"data-id" => "id-0", "data-type" => "web"}
                      .item-thumbs
                        / Fancybox - Gallery Enabled - Title - Full Image
                        %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => "/assets/6.jpg", :title => "Work 1"}
                          %span.overlay-img
                          %span.overlay-img-thumb.font-icon-plus
                        / Thumb Image and Description
                        %img{:alt => "Quality Work", :src => "assets/6.jpg"}/
                    / End Item Project
                    / Item Project and Filter Name
                    %li.item-thumbs.col-lg-3.design{"data-id" => "id-1", "data-type" => "icon"}
                      / Fancybox - Gallery Enabled - Title - Full Image
                      %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => "/assets/7.jpg", :title => "Work 2"}
                        %span.overlay-img
                        %span.overlay-img-thumb.font-icon-plus
                      / Thumb Image and Description
                      %img{:alt => "Quality Work", :src => "/assets/7.jpg"}/
                    / End Item Project
                    / Item Project and Filter Name
                    %li.item-thumbs.col-lg-3.photography{"data-id" => "id-2", "data-type" => "illustrator"}
                      / Fancybox - Gallery Enabled - Title - Full Image
                      %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => "/assets/8.jpg", :title => "Work 3"}
                        %span.overlay-img
                        %span.overlay-img-thumb.font-icon-plus
                      / Thumb Image and Description
                      %img{:alt => "Quality Work", :src => "/assets/8.jpg"}/
                    / End Item Project
                    / Item Project and Filter Name
                    %li.item-thumbs.col-lg-3.photography{"data-id" => "id-2", "data-type" => "illustrator"}
                      / Fancybox - Gallery Enabled - Title - Full Image
                      %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => "/assets/9.jpg", :title => "Work 4"}
                        %span.overlay-img
                        %span.overlay-img-thumb.font-icon-plus
                      / Thumb Image and Description
                      %img{:alt => "Quality Work", :src => "/assets/9.jpg", :height => "720", :width => "1280"}/
                    / End Item Project
          .row
            .col-lg-12
              %h4.heading Some of our big Clients
              .row
                %section#projects
                  %ul#thumbs.portfolio
                    / Item Project and Filter Name
                    %li.col-lg-3.design{"data-id" => "id-0", "data-type" => "web"}
                      .item-thumbs
                        / Fancybox - Gallery Enabled - Title - Full Image
                        %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => "/assets/client1.jpg", :title => "Work 1"}
                          %span.overlay-img
                          %span.overlay-img-thumb.font-icon-plus
                        / Thumb Image and Description
                        %img{:alt => "Quality Work", :src => "assets/client1.jpg"}/
                    / End Item Project
                    / Item Project and Filter Name
                    %li.item-thumbs.col-lg-3.design{"data-id" => "id-1", "data-type" => "icon"}
                      / Fancybox - Gallery Enabled - Title - Full Image
                      %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => "/assets/client2.jpg", :title => "Work 2"}
                        %span.overlay-img
                        %span.overlay-img-thumb.font-icon-plus
                      / Thumb Image and Description
                      %img{:alt => "Quality Work", :src => "/assets/client2.jpg"}/
                    / End Item Project
                    / Item Project and Filter Name
                    %li.item-thumbs.col-lg-3.photography{"data-id" => "id-2", "data-type" => "illustrator"}
                      / Fancybox - Gallery Enabled - Title - Full Image
                      %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => "/assets/client5.jpg", :title => "Work 3"}
                        %span.overlay-img
                        %span.overlay-img-thumb.font-icon-plus
                      / Thumb Image and Description
                      %img{:alt => "Quality Work", :src => "/assets/client5.jpg"}/
                    / End Item Project
                    / Item Project and Filter Name
                    %li.item-thumbs.col-lg-3.photography{"data-id" => "id-2", "data-type" => "illustrator"}
                      / Fancybox - Gallery Enabled - Title - Full Image
                      %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => "/assets/client4.jpg", :title => "Work 4"}
                        %span.overlay-img
                        %span.overlay-img-thumb.font-icon-plus
                      / Thumb Image and Description
                      %img{:alt => "Quality Work", :src => "/assets/client4.jpg", :height => "720", :width => "1280"}/          
      %footer
        .container
          .row
            .col-lg-5
              .widget
                %h5.widgetheading Get in touch with us
                %address
                  %strong Span Engineering
                  %br/
                  Gat No. 324, Chakan MIDC Phase II
                  %br/
                  Bhamboli, Tal - Khed, Dist - Pune
                %p
                  %i.icon-phone
                  8806315314 / 9763060085
                  %br/
                  %i.icon-envelope-alt
                  spanengineering25@gmail.com
            .col-lg-3
              .widget
                %h5.widgetheading Pages
                %ul.link-list
                  %li
                    = link_to "Home", root_path
                  %li
                    = link_to "Clients", clients_path
                  %li
                    = link_to "Features", root_path
                  %li
                    = link_to "Blog", root_path
                  %li
                    = link_to "Contact Us", contacts_path
            .col-lg-4
              .widget
                %h5.widgetheading © Span Engineering 2016
                %p
                  %address
                  %p
                    %strong Social Medial Links
                    %ul.social-network
                      %li
                        %a{"data-placement" => "top", :href => "https://www.facebook.com/Span-Engineering-Pvt-Ltd-Chakan-521609734702691/", :title => "Facebook", :target => "_blank"}
                          %i.fa.fa-facebook
                      %li
                        %a{"data-placement" => "top", :href => "#", :title => "Twitter"}
                          %i.fa.fa-twitter
                      %li
                        %a{"data-placement" => "top", :href => "#", :title => "Linkedin"}
                          %i.fa.fa-linkedin
                      %li
                        %a{"data-placement" => "top", :href => "#", :title => "Pinterest"}
                          %i.fa.fa-pinterest
                      %li
                        %a{"data-placement" => "top", :href => "#", :title => "Google plus"}
                          %i.fa.fa-google-plus
                %span Site Developed By
                %a{:href => "https://www.facebook.com/atul.nikhade", :target => "_blank"} Atul Nikhade
                .clear
    %a.scrollup{:href => "#"}
      %i.fa.fa-angle-up.active
    /
      javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    %script{:src => "/assets/jquery.js"}
    %script{:src => "/assets/jquery.easing.1.3.js"}
    %script{:src => "/assets/bootstrap.min.js"}
    %script{:src => "/assets/jquery.fancybox.pack.js"}
    %script{:src => "/assets/jquery.fancybox-media.js"}
    %script{:src => "/assets/prettify.js"}
    %script{:src => "/assets/jquery.quicksand.js"}
    %script{:src => "/assets/setting.js"}
    %script{:src => "/assets/jquery.flexslider.js"}
    %script{:src => "/assets/animate.js"}
    %script{:src => "/assets/custom.js"}
