%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Span Engineering
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "http://bootstraptaste.com", :name => "author"}/
    / css
    %link{:href => "/assets/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "/assets/jquery.fancybox.css", :rel => "stylesheet"}
    %link{:href => "/assets/flexslider.css", :rel => "stylesheet"}/
    %link{:href => "/assets/style.css", :rel => "stylesheet"}/
    / Theme skin
    %link{:href => "/assets/default.css", :rel => "stylesheet"}/
    / HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    #wrapper
      / start header
      %header
        .navbar.navbar-default.navbar-static-top
          .container
            .navbar-header
              %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              %a.navbar-brand{:href => ""}
                %span> Span Engineering
            .navbar-collapse.collapse
              %ul.nav.navbar-nav
                %li
                  = link_to "Home", root_path
                %li
                  = link_to "About Us", information_index_path
                %li
                  = link_to "Clients", clients_path
                %li.active
                  = link_to "Features", features_path
                %li
                  = link_to "Contact Us",contacts_path
      / end header
      %section.callaction
        .container
          .row
            .col-lg-12
              .big-cta
                .cta-text
                  %h2
                    %span Why
                    We are best?
      %section#content
        .container
          .row
            .col-lg-12
              .row
                .col-lg-3
                  .box
                    .box-gray.aligncenter
                      %h4 Quality Work
                      .icon
                        %i.fa.fa-desktop.fa-3x
                      %p
                        We define quality as conformance to our Customer's needs, both internal and external; and conformance to all quality requirements.
                .col-lg-3
                  .box
                    .box-gray.aligncenter
                      %h4 Low Cost
                      .icon
                        %i.fa.fa-pagelines.fa-3x
                      %p
                        We manufactured the products in low cost with maintaining it's standard quality as per client requirements as compare to other manufacturers.
                .col-lg-3
                  .box
                    .box-gray.aligncenter
                      %h4 Improvement
                      .icon
                        %i.fa.fa-edit.fa-3x
                      %p
                        Making continuous improvement is a part of every day and every job - through the use of team participation and measurements in a company.
                .col-lg-3
                  .box
                    .box-gray.aligncenter
                      %h4 Satisfaction
                      .icon
                        %i.fa.fa-smile-o.fa-3x
                      %p
                        Client satisafaction is our first priority. We got best feedback till date. We have also skilled work force to meet the highest quality of standards.
          .row
            .col-lg-12
              .row
                .col-lg-3
                  .box
                    .box-gray.aligncenter
                      %h4 ISO Certified
                      .icon
                        %i.fa.fa-certificate.fa-3x
                      %p
                        We are ISO 9001:2015 certified company by The Governing Board of The Progressive International Certifications Limited in September, 2016.
                .col-lg-3
                  .box
                    .box-gray.aligncenter
                      %h4 Masters of Risk
                      .icon
                        %i.fa.fa-tasks.fa-3x
                      %p
                        The most successful manufacturers will be both agile in confronting risks and resilient in adapting to disruptive change - in effect using it to their advantage.
                .col-lg-3
                  .box
                    .box-gray.aligncenter
                      %h4 Innovators of New
                      .icon
                        %i.fa.fa-lightbulb-o.fa-3x
                      %p
                        The development of new products and services for new markets, as well as existing customers, will be a recurring theme for best-in-class performers.
                .col-lg-3
                  .box
                    .box-gray.aligncenter
                      %h4 Global Orientation
                      .icon
                        %i.fa.fa-globe.fa-3x
                      %p
                        Successful manufacturers will be global, even if they never manufacture outside nation. They will open their all processes to benefit around the world.
      %footer
        .container
          .row
            .col-lg-5
              .widget
                %h5.widgetheading Get in touch with us
                %address
                  %strong Span Engineering
                  %br/
                  Gat No. 324, Chakan MIDC Phase II
                  %br/
                  Bhamboli, Tal - Khed, Dist - Pune
                %p
                  %i.icon-phone
                  8806315314 / 9763060085
                  %br/
                  %i.icon-envelope-alt
                  spanengineering25@gmail.com
            .col-lg-3
              .widget
                %h5.widgetheading Pages
                %ul.link-list
                  %li
                    = link_to "Home", root_path
                  %li
                    = link_to "Clients", clients_path
                  %li
                    = link_to "Features", root_path
                  %li
                    = link_to "Blog", root_path
                  %li
                    = link_to "Contact Us", contacts_path
            .col-lg-4
              .widget
                %h5.widgetheading © Span Engineering 2016
                %p
                  %address
                  %p
                    %strong Social Medial Links
                    %ul.social-network
                      %li
                        %a{"data-placement" => "top", :href => "https://www.facebook.com/Span-Engineering-Pvt-Ltd-Chakan-521609734702691/", :title => "Facebook", :target => "_blank"}
                          %i.fa.fa-facebook
                      %li
                        %a{"data-placement" => "top", :href => "#", :title => "Twitter"}
                          %i.fa.fa-twitter
                      %li
                        %a{"data-placement" => "top", :href => "#", :title => "Linkedin"}
                          %i.fa.fa-linkedin
                      %li
                        %a{"data-placement" => "top", :href => "#", :title => "Pinterest"}
                          %i.fa.fa-pinterest
                      %li
                        %a{"data-placement" => "top", :href => "#", :title => "Google plus"}
                          %i.fa.fa-google-plus
                %span Site Developed By
                %a{:href => "https://www.facebook.com/atul.nikhade", :target => "_blank"} Atul Nikhade
                .clear
    %a.scrollup{:href => "#"}
      %i.fa.fa-angle-up.active
    /
      javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    %script{:src => "/assets/jquery.js"}
    %script{:src => "/assets/jquery.easing.1.3.js"}
    %script{:src => "/assets/bootstrap.min.js"}
    %script{:src => "/assets/jquery.fancybox.pack.js"}
    %script{:src => "/assets/jquery.fancybox-media.js"}
    %script{:src => "/assets/prettify.js"}
    %script{:src => "/assets/jquery.quicksand.js"}
    %script{:src => "/assets/setting.js"}
    %script{:src => "/assets/jquery.flexslider.js"}
    %script{:src => "/assets/animate.js"}
    %script{:src => "/assets/custom.js"}
